.container
  = form_for @blog, :url => blog_create_path do |form|
    %fieldset.fields
      .field
        = form.label "Title"
        = form.text_field :title
    %fieldset.fields
    .field
      = form.label "Summary (this is whats seen at the front page)"
      = form.text_field :summary
    %fieldset.fields
      .field
        = form.file_field :banner_image
    %fieldset.fields
      .field{:style => "padding-top: 20px;"}
        = text_area_tag :content, "", :class => "tinymce", :rows => 30, :cols => 50
        = tinymce
    %fieldset.actions
      = form.submit "post"

