.container#contact
  .row-fluid
    .span6
      = form_for @message, :url => contact_path do |form|
        %fieldset.fields
          .field
            = form.label :name
            = form.text_field :name
          .field
            = form.label :email
            = form.text_field :email
          .field
            = form.label :subject
            = form.text_field :subject
          .field
            = form.label :body
            = form.text_area :body
        %fieldset.actions
          = form.submit "Send"
    .span6
      .stream-requirements
        %h3 Applying to add your Stream?
        %p Please send us an email with the following information
        %ul
          %li Your full name
          %li email
          %li Twitch stream name
        %h3 Want to contribute to the website?
        %p Right now, the website is being developed by one person.  Are you a website developer? designer?  Here is what we're using:
        %ul
          %li FrameWork:  Ruby on Rails
          %li Frontend Design:  HAML, SCSS, CoffeeScript
          %li Database:  Heroku, Postgresql and Redis
        %h3 Youtube Channel
        %p If you would like to be included in our youtube channel, please send a form with your twitch account name.
        %h3 Anything Else
        %p if you would like to contribute in anyway, please let us know, :3.


